# Node modules
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Env files
.env
Backend/.env

# Build files
dist/
Frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Vercel
.vercel

# IDE
.vscode/